
<!--

Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
Tip 2: you can also add an image using data-image tag

-->


    <div class="logo">
        <a href="http://ngocjr7.github.io" class="simple-text">
            Dashboard
        </a>
    </div>

    <ul class="nav">
        <li class="active">
            <a href="dashboard.html">
                <i class="pe-7s-graph"></i>
                <p>Overview</p>
            </a>
        </li>
        <li>
            <a href="car.html">
                <i class="pe-7s-car"></i>
                <p>Cars</p>
            </a>
        </li>
        <li>
            <a href="prototype.html">
                <i class="pe-7s-phone"></i>
                <p>Prototype</p>
            </a>
        </li>
        <li>
            <a href="notifications.html">
                <i class="pe-7s-bell"></i>
                <p>Notifications</p>
            </a>
        </li>

        <li class="active-pro">
            <a href="upgrade.html">
                <i class="pe-7s-rocket"></i>
                <p>Upgrade to PRO</p>
            </a>
        </li>
    </ul>

